// Colors
$primary-color: #373f51;
$secondary-color: #f9f871;
$tertiary-color: #008dd5;

// Fonts
$font-stack: Helvetica, sans-serif;
$font-color-light: #e2f1ff;
$font-color-dark: $primary-color;

// a elements
%link-light {
  color: $font-color-light;
  text-decoration: none;
}
%link-light-hover {
  color: $secondary-color;
  text-decoration: none;
}
%link-dark {
  color: $font-color-dark;
  text-decoration: none;
}
%link-dark-hover {
  color: $tertiary-color;
  text-decoration: none;
}

a {
  @extend %link-dark;
}
a:hover {
  @extend %link-dark-hover;
}

nav {
  background-color: $primary-color;
  padding: 30px 60px;

  a {
    @extend %link-light;
  }
  a:hover {
    @extend %link-light-hover;
  }
  h1:hover {
    @extend %link-light;
  }
  a.dropdown-item:active {
    background-color: $primary-color;
  }
  .navbar-brand {
    font-size: 30px;
    color: $secondary-color;
  }

  ul.navbar-nav {
    text-align: right;
  }

  li {
    list-style: none;
    display: inline;
  }

  li {
    a {
      font-weight: bold;
      padding: 5px 8px;
    }
  }
}

.avatar-ctn {
  background-color: orange;
  text-align: center;
}
.avatar-ctn img {
  width: 100%;
  height: auto;
}
.avatar {
  width: 65%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.registration-list {
  color: $font-color-light;
  font-weight: bold;
  background-color: $primary-color;
  padding: 10px;
}

.registration-list ul {
  color: #000;
  height: 300px;
  overflow-y: scroll;
}

.list-header {
  margin-left: 2px;
}

/*
  SHOW MY STUDENTS page
*/
/*.editSstatus {}*/

.editSstatus .col-8 {
  font-size: 20px;
}

.editSstatus .col-8 label {
  color: $font-color-light;
}

/*
  SHOW MY STUDENTS page
*/

/*
Profile and visitProfile
*/

#courses-div {
  height: 250px;
  max-height: 250px;
  padding: 0;
}

/*
Profile and visitProfile
*/

/*
Video Chat
*/

#video-grid {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
  overflow-y: scroll;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
}
.vidBtn {
  float: right;
}

#toggleVideo {
  margin-right: 5px;
}

.btn-question {
  display: none;
}

.modal-footer {
  border-top: none;
  margin-top: -1em;
}

.timestamp {
  font-size: 0.7em;
  color: $tertiary-color;
  margin: 0;
  padding: 0;
}

.list-group-item.active {
  background-color: $primary-color;
}
