<%- include("header"); %>

<div class="container mt-4">

  <div class="row">

    <div class="col-4">

      <h1>List of dep</h1>
      <% if(locals.departmentsAndCourses) {
        locals.departmentsAndCourses.forEach(dept => { %>
          <h4><%= dept.department_name + " (" + dept.department_code + ")"%></h4>
      <% });
      } %>
    </div>

    <div class="col-8">
      <h1>This is the Form</h1>
    </div>
  </div>
</div>
<%- include("footer"); %>
