<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootsrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Study Together</title>
  </head>
  <body>
    <nav>
      <h4><a href="/">Study Together</a></h4>

      <ul>
        <% if (locals.user) {
          locals.user.courses.forEach(course => { %>
            <li>
              <a href="/<%= locals.user.institution_code.toLowerCase() + 
                      "/" + course.department_code.toLowerCase() +
                      "/" + course.course_code.toLowerCase() %>">
                <%= course.course_code %>
              </a>
            </li>
        <% }); %>
        <li><a href="/profile">Profile</a></li>
        <!--<% //{{#if user.isAdmin}} %>
          <li> <a href="/addCourse">Add Course</a></li>
          <% // {{else}} %>
          <li> <a href="/register">Course Registration</a></li>
          <% // {{/if}}%> -->
        <li><a href="/messages">Messages</a></li>
        <li><a href="/searchPeople">Search people</a></li>
        <li><a href="/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <% } %>
      </ul>
    </nav>