<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/libraries/jquery-3.5.1.min.js"></script>
    <script src="/js/libraries/popper.min.js"></script>
    <script src="/js/libraries/bootstrap/bootstrap.min.js"></script>

    <title>Study Together</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <h1><a class="navbar-brand" href="/">Study Together</a></h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <% if (locals.user) { %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               My Courses
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% locals.user.courses.forEach(course => { %>
                <a class="dropdown-item"
                  href="/<%= locals.user.institution_code.toLowerCase() +
                  "/" + course.department_code.toLowerCase() +
                  "/" + course.course_code.toLowerCase() %>">
                    <%= course.course_code %>
                </a>
              <% }); %>
              <a class="dropdown-item" href="/add-course">
                Add a course
              </a>
              <a class="dropdown-item" href="/delete-course">
                Delete a course
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/messages">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/searchPeople">Search people</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
          </li>
          <% } else { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <% } %>
        </ul>

      </div>
    </nav>
