nav {
  background-color: #563d7c;
  color: #fff;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  list-style: none;
}

nav li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
}

nav li a:hover {
  color: yellow;
  text-decoration: none;
}

.avatar-ctn {
  background-color: orange;
  text-align: center;
}

.avatar {
  width: 65%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.registration-list {
  color: #fff;
  font-weight: bold;
  background-color: #563d7c;
  padding: 10px;
}

.registration-list ul {
  color: #000;
  height: 300px;
  overflow-y: scroll;
}

.list-header {
  margin-left: 2px;
}

/*
  SHOW MY STUDENTS page
*/
/*.editSstatus {}*/

.editSstatus .col-8 {
  font-size: 20px;
}

.editSstatus .col-8 label {
  color: #fff;
}

/*
  SHOW MY STUDENTS page
*/

/*
Profile and visitProfile
*/

#courses-div {
  height: 250px;
  max-height: 250px;
  padding: 0;
}

/*
Profile and visitProfile
*/

/*
Video Chat
*/

#video-grid {
  height: 600px;
  overflow-y: scroll;

  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
}
